{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}


{% block main %}
<h1>Sell Stocks</h1>
<div>
    <form action="/sell" method="post" class="container mt-5">
        <!-- <div class="row mb-3">
            <div class="col-md-6 mx-auto">
                <input id="symbol" autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text" required>
            </div>
        </div> -->
        <div class="row mb-3 col-md-6 mx-auto">
            <select class="form-select" name="symbol">
                <option selected>Open this stock symbol menu</option>

                {% for l in list %}
                    <option value="{{l['symbol']}}">{{l['symbol']}}</option>
                {% endfor%}
            </select>
        </div>

        <div class="row mb-3">
            <div class="col-md-6 mx-auto">
                <input id="quantity" autocomplete="off" class="form-control" name="shares" placeholder="shares"
                    type="number" min="1" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <button class="btn btn-primary btn-lg btn-block px-5" type="submit"
                    style="transition: background-color 0.3s ease, transform 0.3s ease;"
                    onmouseover="this.style.backgroundColor='#0056b3'; this.style.transform='scale(1.05)';"
                    onmouseout="this.style.backgroundColor=''; this.style.transform='';">
                    sell
                </button>

            </div>
        </div>
    </form>
</div>

<div class="p-4">
    {% if data %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>


        <tr>
            <td>{{data["symbol"]}}</td>
            <td>{{data["price"]}}</td>
            <td>{{data["quantity"]}}</td>
            <td>{{data["total"] | usd}}</td>
        </tr>

    </table>
    {% endif %}
</div>
{% endblock %}
